.thumbnail img{ max-height: 180px;
max-width: 180px;
}


.thumbnail .description{
  color: black;
  text-align: justify;

}

.price {
  font-weight: bold;
  font-size: 16px;
}



  #logo-main {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }


.navbar-header{
  background: transparent;
  border: none;
/*
  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      > a {
        padding-left: 30px;
        padding-right: 30px;
        }
    }
  }*/
}
